@keyframes name-underline {
    from { text-decoration: underline; }
    to { text-decoration: none; }
  }

span#name {
    padding: 0.25rem;
    font-size: 3rem;
    font-style: italic;
    color: #68CDFE;
    text-shadow: 3px 3px #1E38A1;
    cursor: default;
    animation-name: name-underline;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: #1E1E1E;
}

span#name::before {
    content: '>';
}

.connect-container {
    display: flex;
    justify-content: flex-start;
}

.connect-container i {
    font-size: 2rem;
    margin-right: 2rem;
}

body {
    font-family: "Roboto Slab", monospace, serif;
    background-color: aliceblue;
    padding: 10vw;
}

footer {
    font-size: 1rem;
    position: absolute;
    bottom: 1%;
}

section {
    margin-bottom: 3rem;
}

.contact-form-label {
    display: table-cell; width: 15%; margin-bottom: 10px; vertical-align: middle;
}


/* Media Queries */
@media only screen and (max-width:768px) {
    h1#name {
        font-size: 28pt;
    }

    h3 {
        font-size: 16pt;
    }

    p {
        font-size: 14pt;
    }
}

@media only screen and (max-width:480px) {
    h1#name {
        font-size: 18pt;
    }

    p h3 {
        font-size: 12pt;
    }

    .col {
        width: 100%;
    }

    img.fat-head {
        display: none;
    }

    #links-container {
        display: block;
    }

    .about-header {
        display: block;
    }
    
    #links-container section {
        width: 100%;
    }

    footer {
        display: none;
    }
}